<div class="name">
<table>
  <thead>
    <th>Name</th>
    <th>Score</th>
  </thead>
  <tbody>
    <tr *ngFor="let names of scores">
      <td>{{ names.name }}</td>
    </tr>
      <tr *ngFor="let scores of scores">
        <td>{{scores.points}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="scores">
<table>
  <thead>
    <th>Score</th>
  </thead>
  <tbody>
    <tr *ngFor="let scores of scores">
      <td>{{scores.points}}</td>
    </tr>
  </tbody>
</table>
</div>
